:root {
    --accent-color: #2196F3;
}
a {
    text-decoration: none;
}

.list {
    list-style: none;
}
body {
    font-family: 'Raleway','Roboto' sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
 /* identical to box height */
    color: #2196F3;
}
.accent {
    color:#000000;
}

.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}

.gmail {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.gmail:hover,
.gmail:focus {
    color: #2196F3;
}

.phone-number {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.phone-number:hover,
.phone-number:focus {
    color: #2196F3;
}
.tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
}

.email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.hero-center { 
color: #FFFFFF;
background: #2F303A;
}
.hero-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF
}

.modal-btn {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;

color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
cursor: pointer;
}
.modal-btn-title {
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
cursor: pointer;

color: #212121;
background: #F5F4FA;
}
.modal-btn-title:hover,
.modal-btn-title:focus {
    color:#FFFFFF;
    background: #2196F3;
}


.title {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.section-description {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: #757575;
}

.pages-hero {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.suptitle {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
;
letter-spacing: 0.03em;

color: #757575;
}

.footer {
    background: #2F303A;
}

.search {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;


}
.contact {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.accent-logo {
    color: #FFFFFF;
}